.orange-color{
                /*background-color: #FE5623;*/
                background-color: #00ff00;
}
.blue-color{
	/*background-color: #3598DC;*/
	background-color: #5C994A;
}
.white-text{
   color: #fff;
}
body, html {
    height: 100%;
}


#v {
    width: 320px; 
    height: 240px;
}
.minuteCheckbox{
	margin: 5px;
}
#nav-login > li > a:hover,#nav-login > li > a:focus {
        background-color:#3578ff;
}
#brand-name:hover{
        background-color:#3578ff;
}
#logoutUl{
 	background-color: #3578ff;
}
#ulogoutl > a:hover, #ulogoutl > a:focus{
	background-color: #3598DC;
} 
.bg{ 
	/*background: transparent url("../images/background-1.jpg") left top;*/
	background:transparent linear-gradient(to bottom, #5C914A 0%, #47a3a1 100%);
	height: 100%;
	background-size: 100% 100%; 
	background-attachment: fixed;
    
 }  
 .bg a{
 	color: brown;
 }
 .icon-bar{ background-color: #fff;}
#welcomeHeader>h3:hover{
	color:#406F31;
	text-decoration: none;
}
#nav-login{
	display: block;
	float: right;
}
#side-menu{
	 background: transparent;
}
#qrform{
	background:transparent; 
}
#dashboardSection a{
	/*color: #0853cd;*/
	color: brown;
}
#dashboardSection a :hover{
	/*background-color: white;*/
}
#side-menu a:hover {
	background-color: #5C994A;
}
.opag{
	background: rgba(205,255,205,0.4) ;
}
#imageChange{
	margin-bottom: 20px;
}